<div class="row">
    <div class="col-md-12">
        <h1>{{title}}<a href="/departments/add" class="btn btn-success pull-right" style="margin-top:5px;">Add New Department</a></h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if data}}
                    {{#each data}}
                    <tr>
                        <td><a href="/department/{{departmentID}}">{{departmentID}}</a></td>
                        <td><a href="/employees?department={{departmentID}}"> {{departmentName}}</a></td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <td> No Data Available</td>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>